.post {
    position: relative;
    width:80%;
    max-width: 700px;
    margin: 4rem auto;
    padding-bottom: 4rem;
    border-bottom: #EBF2F6 1px solid;
    word-break: break-word;
    hyphens: auto;
}

header.cta {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 20px 0;
  z-index: 10000;
  border-top: 3px solid $orange;
  border-top-color: fade-out($orange, .2);
  .button {
    padding: 5px 20px 6px;
    border-radius: 0 0 5px 5px;
    font-size: 1rem;
    &:hover {
      padding: 8px 20px 10px;
      background: fade-out($orange, .2);
    }
  }
}

.post-content {
  font-size: 1.2rem;
  h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: bold;
    font-family: $font-header;
    color: lighten(saturate($purpleLight, 5%), 5%);
  }
  h3 {
    font-size: 2rem;
  }
  p, ul, ol {
    font-family: $font-body;
    line-height: 1.5;
    > a {
      color: darken($beige, 50%);
      border-bottom-color: $beige;
      &:hover {
        color: darken($beige, 40%);
      border-bottom-color: $beige;
      }
    }
  }
  > ul, > ol {
    margin: 2em 0;
    font-size: .9em;
  }
  code, pre {
    background: fade-out($purple, .9);
    > code {
      background: none;
    }
  }
  pre {
    padding: $margin;
  }
  input[type="text"] {
    border: 1px solid #ddd;
    width: 80%;
  }
}

.post-title {
  margin: 0;
  font-size: 3rem;
  color: lighten(saturate($purpleLight, 10%), 10%);
}

.post-title a {
  text-decoration: none;
  color: lighten(saturate($purpleLight, 10%), 10%);
}

.post-excerpt p {
  margin: 1.6rem 0 0 0;
  font-size: 0.9em;
  line-height: 1.6em;
}

.post-meta {
  display: inline-block;
  margin: 0 0 5px 0;
  font-size: 1rem;
  color: #9EABB3;
  font-family: $font-body;
}

.post-meta a {
    color: #9EABB3;
    text-decoration: none;
}

.post-meta a:hover {
    text-decoration: underline;
}

.user-meta {
    position: relative;
    padding: 0.3rem 40px 0 100px;
    min-height: 77px;
}

.user-image {
    position: absolute;
    top: 0;
    left: 0;
}

.user-name {
    display: block;
    font-weight: bold;
}

.user-bio {
    display: block;
    max-width: 440px;
    font-size: 1.4rem;
    line-height: 1.5em;
}

.publish-meta {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4.3rem 0 4rem 0;
    text-align: right;
}

.publish-heading {
    display: block;
    font-weight: bold;
}

.publish-date {
    display: block;
    font-size: 1.4rem;
    line-height: 1.5em;
}

/* Insert some mad padding up in the header for better spacing */
.post-template .post-header {
    padding: 60px 0;
    text-align: center;
}

.post-template .blog-title {
    display: inline-block;
    padding: 2.5rem 0;
}

/* Keep images centred and within the bounds of the post-width */
.post-content img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0.6em 0;
}

/* Break out larger images to be wider than the main text column
   the class is applied with jQuery */
.post-content .full-img {
    width: 126%;
    max-width: none;
    margin: 0 -13%;
}